@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: rgb(0,0,0);
  margin: 20px 50px 20px 50px;
}

ul{
  list-style-type: none
}

#Menu{
  margin: auto;
  width: 900px;
  font-family:"Lato", sans-serif;
  padding: 12px, 12px, 12px, 12px;
}

#Menu li {
	display:block;
	width:120px;
	float:left;
	margin-left:2px;
	border:1px solid #000;
}

#Menu a {
	display:block;
	padding:3px;
	text-decoration:none;
	background-color:rgb(61,52,29);
	color:rgb(225,225,225);
}

#Menu a:hover{
  color: rgb(225,225,225);
  background-color: rgb(200,180,130) /* Light Nude */
}

nav{
  margin: 20px;
  padding: 20px;
  width: 30px
}

p.Description {
  display: block;
  width: 600px;
  color: rgb(0,0,0)
  background-color: rgb(200,180.130);
  float: none;
  text-align: center;
  align-items: center;
  margin: auto;
}

a:link {
  background-color: #e7e7e7;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: auto;
}

a:hover{
  color: rgb(0,0,0)
}

a:visited{
  color: rgb(200,180,130)
}

h1 {
  font-family: "Lato", sans-serif;
  font-size: 38px;
  font-weight: 900;
  color: rgb(61,52,29); /* Dark Brown */
  margin: 25px 0 25px 0;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  font-family: "Lato", sans-serif;
  font-size: 25px;
  font-weight: 700;
  color:rgb(191,162,91); /* Dark Nude */
  margin: 12px 20px 12px 20px;
  padding: 20px 4px 4px 8px;
  float: none;
  display: block;
}

h3 {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: rgb(200,180,130) /* Light Nude */
}

img {
  border-radius: 40px;
  padding: 20px;
  width: 1000px;
  display: grid;
  margin: 20px 20px 20px 20px;
  border: 20px 20px 20px 20px;
}

figure {
   max-width:64rem;
   width:1000px;
   height:600px;
   margin: auto;
   padding:20px, 20px, 20px, 20px;
}

footer{
  align-items: center;
  align-self: center;
}
