@charset "UTF-8";
@import "url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto+Slab:wght@600&display=swap'";

body {
    background: rgb(210, 210, 210);
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: rgb(0, 0, 0);
    margin: 0;
}

h1 {
    font-size: 38px;
    color: #00ABD2;
    font-family: 'Roboto Slab', serif;
    font-weight: bolder;
    margin: 25px 0 25px 0;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 26px;
    font-weight: normal;
    color: #FFFF;
    margin: 0px 0 12px 0;
    padding: 0 4px 4px 8px;
}

h2.history {
    font-family: 'Roboto Slab', serif;
    font-size: 26px;
    font-weight: normal;
    color: #FFFF;
    margin: 0px 0 12px 0;
    padding: 12px 4px 4px 8px;
}

h2.map {
    font-family: 'Roboto Slab', serif;
    font-size: 26px;
    font-weight: normal;
    color: #FFFF;
    margin: 28px 0 12px 0;
    padding: 0 4px 4px 8px;
}

h3 {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #FFFF;
    margin: 0;
    padding: 2px;
}

h3.bahamar {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #FFFF;
    margin: 12px 12px 12px 12px;
    padding: 2px;
}

h4 {
    font-family: 'Lato', sans-serif;
    font-size: 10px;
    font-weight: normal;
    color: #00262E;
    margin: 0;
    padding: 2px;
}

p.card {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #FFFF;
    margin: 0;
    padding: 4px;
}

p.image {
    font-family: 'Lato', sans-serif;
    font-size: 10px;
    font-weight: normal;
    color: #FFFF;
    margin: 0;
    padding: 4px;
}

p.description {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: rgb(255, 255, 255);
    text-indent: 20px;
    margin-left: 12px;
    margin-right: 12px;
}

img.icon {
    border-radius: 2px;
    width: 55px;
    align-self: baseline;
}

img.map {
    border-radius: 8px;
    width: 150px;
    align-self: center;
    margin: 28px 12px 12px 28px;
}

div.flag {
    width: 350px;
    min-height: min-content;
    align-items: center;
    align-content: center;
    margin: 8px;
}

div.desc {
    background-color: #00262E;
    width: 100%;
    align-items: center;
    align-content: center;
    align-self: center;
}

img.card {
    border-radius: 10px 10px 0 0;
    width: 200px;
}

img.free {
    max-height: 400px;
    margin: 0px;
}

img.flag {
    width: 300px;
    padding: 8px;
}

.grid-container {
    grid-column: 2;
    column-gap: 4px;
    display: grid;
    max-width: 100%;
    grid: auto-flow / 100% 100%;
    gap: 40px;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: start; /* up and down */
}

ul {
    margin: 4px;
}

li.card {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #FFFF;
    margin: 4px;
    padding: 2px;
}

footer {
    align-items: center;
    align-self: center;
}
